# Keep system usernames private
users.yml

# Ignore public key files
*.pub

# Ignore PyCharm env
.idea

# Ignore .env files!
.env

# Ignore http-observatory
/http-observatory

# Ignore Atlantic sub repo Asset Map folder
/atlantic
!/atlantic/.gitignore
